<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link href="{{ url_for('static', filename='flask.png') }}" rel="icon" /> 
    <link href="{{ url_for('static', filename='file.css') }}" rel="stylesheet" />
    <title></title>
    <style>
        
    </style>
    <script>
        
    </script>
</head>
<body>
    <h1>이름을 입력해주세요</h1>
    <form action="/" method="post">
        <input type="text" name="name" placeholder="이름을 입력해주세요"
        value="{% if name %}{{name | trim | upper}}{% endif %}" >
        <input type="submit" value="전송" />
    </form>
    {% if name_length and name_length%2 == 0 %}
        <h1>짝수 이름입니다</h1>
    {% elif name_length and name_length%2 != 0 %}
        <h1>홀수 이름입니다</h1>
    {% else %}
        <h1>이름이 없습니다</h1>
    {% endif %}
    {% if names_list %}
        {% for n in names_list %}

            {% if loop.last %}
                <li><b>{{ loop.index }}/{{names_list|length}}번째 이름 : {{n}}</b></li>
            {% else %}
            <li>{{ loop.index }}/{{names_list|length}}번째 이름 : {{n}}</li>

            {% endif %}
        {% endfor %}
        <p>{{n}}</p>
    {% else %}
        <p>추가된 이름이 없습니다</p>
    
    {% endif %}
    <h2>가격 : {{ '{:,}'.format(price) }}원</h2>
    
</body>
</html>